= render partial: "account/steps/step_navigation"

#attendance-selection

  = form_for(@account, url: account_attendance_selection_path, method: "PUT") do |f|
    = render "application/form_errors", object: @account
    %table

      = f.fields_for :children, @account.children do |cf|

        %tr
          %td= cf.object.full_name

          = cf.fields_for :attendance_selection, cf.object.attendance_selection do |asf|

            %td
              = asf.check_box :monday, checked: asf.object.monday
              %br
              = asf.label :monday

            %td
              = asf.check_box :tuesday, checked: asf.object.tuesday
              %br
              = asf.label :tuesday

            %td
              = asf.check_box :wednesday, checked: asf.object.wednesday
              %br
              = asf.label :wednesday

            %td
              = asf.check_box :thursday, checked: asf.object.thursday
              %br
              = asf.label :thursday

            %td
              = asf.check_box :friday, checked: asf.object.friday
              %br
              = asf.label :friday

    = link_to "Cancel", account_step_path(@account, :plan), class: "btn"
    = f.submit "Submit", class: "btn"
