= render partial: "account/steps/step_navigation"

.col-md-10.col-md-offset-1.col-xs-12
  %h2.text-center
    Monthly Recurring Plan
    
  #attendance-selection
  
    = form_for(@account, url: account_attendance_selection_path, method: "PUT") do |f|
      = render "application/form_errors", object: @account
  
      = f.fields_for :children, @account.children do |cf|
        .plan-box
        
          .col-xs-12
            %h5.plan-title
              = cf.object.full_name

          = cf.fields_for :attendance_selection, cf.object.attendance_selection do |asf|

            .col-xs-2.col-xs-offset-1
              .checkbox
                %label
                  = asf.check_box :monday, checked: asf.object.monday
                  %br
                  = asf.label :monday
  
            .col-xs-2
              .checkbox
                %label
                  = asf.check_box :tuesday, checked: asf.object.tuesday
                  %br
                  = asf.label :tuesday
  
            .col-xs-2
              .checkbox
                %label
                  = asf.check_box :wednesday, checked: asf.object.wednesday
                  %br
                  = asf.label :wednesday
  
            .col-xs-2
              .checkbox
                %label
                  = asf.check_box :thursday, checked: asf.object.thursday
                  %br
                  = asf.label :thursday
  
            .col-xs-2
              .checkbox
                %label
                  = asf.check_box :friday, checked: asf.object.friday
                  %br
                  = asf.label :friday
            .cleaner
                  
  
      = link_to "Cancel", account_step_path(@account, :plan), class: "btn"
      = f.submit "Submit", class: "btn btn-info pull-right"
