= form_for @core_form, method: :put, url: wizard_path do |f|
  = render "application/form_errors", object: @core_form
  %fieldset
    %legend Register
    .row
      .col-md-6
        .settingsTitle
          = label_tag :first_name, "First Name", class: "settingsTitle"
          = text_field_tag "core_form[children][0][first_name]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = label_tag :last_name, "Last Name", class: "settingsTitle"
          = text_field_tag "core_form[children][0][last_name]", nil, required: true, class: "formField"
    .row
      .col-md-6
        .settingsTitle
          = label_tag :first_name, "Grade Entering", class: "settingsTitle"
          = text_field_tag "core_form[children][0][grade_entering]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = label_tag :last_name, "Date of Birth", class: "settingsTitle"
          = text_field_tag "core_form[children][0][birthdate]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = text_field_tag "core_form[children][0][gender]", nil, required: true, class: "formField"

    .row
      = link_to "+", root_path
      Add Another Child

    .row
      %p Other Fields

    .row
      .col-md-6
        .settingsTitle
          = label_tag :first_name, "Parent First Name", class: "settingsTitle"
          = text_field_tag "core_form[parents][first_name]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = label_tag :last_name, "Parent Last Name", class: "settingsTitle"
          = text_field_tag "core_form[parents][last_name]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = label_tag :last_name, "Street Address", class: "settingsTitle"
          = text_field_tag "core_form[parents][street]", nil, required: true, class: "formField"
      .col-md-6
        .settingsTitle
          = label_tag :last_name, "Extended Address", class: "settingsTitle"
          = text_field_tag "core_form[parents][extended]", nil, required: true, class: "formField"
        .settingsTitle
          = label_tag :last_name, "City", class: "settingsTitle"
          = text_field_tag "core_form[parents][locality]", nil, required: true, class: "formField"
        .settingsTitle
          = label_tag :last_name, "State", class: "settingsTitle"
          = text_field_tag "core_form[parents][region]", nil, required: true, class: "formField"
        .settingsTitle
          = label_tag :last_name, "Postal Code", class: "settingsTitle"
          = text_field_tag "core_form[parents][postal_code]", nil, required: true, class: "formField"

    .row
      = link_to "+", root_path
      Add Another Parent


    .row
      = f.submit 'Next Step'


/ = form_for [:admin, @admin_signup_form], url: admin_signups_path, :html => {:multipart => true} do |f|
/   = render "common/errors", object: @admin_signup_form


/   %div
/     %h3 User Information

/     .row
/       .col-md-6
/         .settingsTitle
/           = label_tag :first_name, "First Name", class: "settingsTitle"
/           = text_field_tag "admin_signup_form[first_name]", @admin_signup_form.first_name, required: true, class: "formField"
/       .col-md-6
/         .settingsTitle
/           = label_tag :last_name, "Last Name", class: "settingsTitle"
/           = text_field_tag "admin_signup_form[last_name]", @admin_signup_form.last_name, required: true, class: "formField"

/     .row
/       .col-md-6
/         .settingsTitle
/           = label_tag :email, "Email", class: "settingsTitle"
/           = text_field_tag "admin_signup_form[email]", @admin_signup_form.email, required: true, class: "formField"
/       .col-md-6
/         .settingsTitle
/           = label_tag :password, "Password", class: "settingsTitle"
/           = password_field_tag "admin_signup_form[password]", @admin_signup_form.password, required: true, class: "formField"

/   %div
/    %h3 Business Information
