.card.card-nav-tabs.card-plain
  .header.header-info
    / colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
    .nav-tabs-navigation
      .nav-tabs-wrapper.layout-row.centered
        %ul.nav.nav-tabs{"data-tabs" => "tabs"}
          %li{ class: (controller_name == "accounts") ? "active" : ""}
            =link_to staff_accounts_path do
              %i.material-icons account_circle
              Parents
          %li{ class: (controller_name == "enrollments") ? "active" : ""}
            =link_to staff_enrollments_path do
              %i.material-icons face
              Enrollments
          %li{ class: (controller_name == "staff") ? "active" : ""}
            =link_to staff_staff_index_path do
              %i.material-icons accessibility
              Staff
          %li{ class: (controller_name == "dashboard") ? "active" : ""}
            =link_to staff_dashboard_path do
              %i.material-icons done
              Attendance
          %li
            %ul.nav.navbar-nav{ class: ["programs", "locations", "plans"].include?(controller_name) ? "active" : ""}
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.material-icons menu
                  Manage
                  %b.caret
                %ul.dropdown-menu.dropdown-with-icons
                  %li
                    = link_to staff_programs_path do
                      %i.material-icons date_range
                      Programs
                  %li
                    = link_to staff_plans_path do
                      %i.material-icons view_list
                      Plans
                  %li
                    = link_to staff_locations_path do
                      %i.material-icons business
                      Locations
                  %li
                    = link_to staff_announcements_path do
                      %i.material-icons warning
                      Announcements
          %li{ class: (controller_name == "transactions") ? "active" : ""}
            =link_to staff_transactions_path do
              %i.material-icons credit_card
              Payments

- if @account.present?
  .layout-row.centered
    - if controller_name == "accounts"
      = link_to "Account Payments", account_dashboard_payments_path(@account), class: "btn"
      = link_to "Manage Credit Card", account_dashboard_credit_card_path(@account), class: "btn"
    - else
      = link_to "Back to Account Overview", staff_account_path(@account), class: "btn"
