
- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: 'btn btn-block btn-primary'
  %br
  %br

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Create Summer Camp Account", new_registration_path(resource_name, program: "dkk_summer_2018"), class: 'btn btn-block btn-primary'
  %br
  %br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
    %br/

= link_to "BACK TO SCHOOL YEAR SITE", "http://daviskidsklubaccess.com", class: 'btn btn-block btn-primary'
