.col-xs-12.text-center
  %h2 Payment

  = form_tag account_dashboard_payments_path(@account), id: "payment-form" do |form|
    = render "common/enrollments_pricing_info", calculator: @calculator

    - if @calculator.requires_payment_information?
      %h5
        The total your card will be charged:
        %strong#total-charge
          #{@calculator.total}

      #refund-block{class: "#{"hide" if @calculator.refund_total <= Money.new(0)}"}
        %h5
          The total your card will be refunded:
          %strong#total-refund
            #{@calculator.refund_total}

      %h5 Please contact us if this is different from your expectation

      %br.cleaner
        - if @account.customer?
          = submit_tag "Pay with Saved #{@account.card_brand} Card ending in #{@account.card_last4}", class: "btn btn-info pull-right", data: { disable_with: "Processing ..." }
        - else
          .form-group.label-floating
            %label{:for => "card-element", class: "control-label"}
              Credit or Debit Card
            #card-element.form-control
              / a Stripe Element will be inserted here.
            / Used to display Element errors
            #card-errors{:role => "alert"}
          .credit-cards
            = image_tag ("credit-cards.png")
          = submit_tag "Store Card For AutoPay", class: "btn btn-info pull-right", data: { disable_with: "Processing ..." }
    - else
      = submit_tag "Confirm these enrollments. No payment information necessary.", class: "btn btn-info pull-right", data: { disable_with: "Processing ..." }
