%h3.text-center
  Parents

.row
  .text-center
    = form_tag staff_accounts_path, method: :get do
      .row
        .col-xs-4.text-center
          %h5 Program
          = select_tag "program_id", options_from_collection_for_select(@programs, "id", "name", @program_id), include_blank: current_user.super_admin? ? "All Programs" : false
        .col-xs-3.text-center
          %h5 Location
          = select_tag "location_id", options_from_collection_for_select(@locations, "id", "name", @location_id), include_blank: current_user.super_admin? ? "All Locations" : false
        .col-xs-3.text-center
          %h5 Search
          = text_field_tag "search", params[:search], {style: "width: 100%;"}
        .col-xs-2.text-center
          %br
          = check_box_tag "show_unregistered", "1", @show_unregistered
          = label_tag "show_unregistered", "Show Only Unregistered"

          .text-center{ style: "padding-top: 15px; padding-bottom: 20px;" }
            = submit_tag "Submit"

  .pull-right{style: "padding-right: 40px;"}
    = link_to "Export to CSV", export_to_csv_staff_accounts_path(program_id: @program_id, location_id: @location_id, format: "csv"), class: "btn btn-primary btn-sm"

  .pull-right{style: "padding-right: 40px;"}
    = mail_to "daviskidsklub@aol.com", "Email these parents", bcc: @all_accounts.map{|a| a.all_emails}.flatten.uniq.join(", "), target: "_blank", class: "btn btn-primary btn-sm"

- if @accounts.any?
  %table{class: "tablesorter {sortlist: [[3,1]]}"}
    %thead
      %th.admin-title Primary Parent
      %th.admin-title Email
      %th.admin-title.sorter-false Children Enrollment Summary
      %th.admin-title.sorter-text Created

    %tbody
      - @accounts.each do |a|
        %tr
          %td= link_to a.primary_parent.full_name, staff_account_path(a) if a.primary_parent.present?
          %td= link_to a.user.email, staff_account_path(a) if a.user.present?
          %td= a.children.map(&:active_enrollment_blurbs).flatten.join("<br>").html_safe
          %td= a.created_at.stamp("2017/11/21 12:56:27pm")

  %hr

  .text-center
    = paginate @accounts
