%h3.text-center
  Parents
%br
- if @accounts.any?

  %table{class: "tablesorter {sortlist: [[3,1]]}"}
    %thead
      %th.admin-title Primary Parent
      %th.admin-title Email
      %th.admin-title.sorter-false Children Enrollment Summary
      %th.admin-title.sorter-text Created

    %tbody
      - @accounts.each do |a|
        %tr
          %td= link_to a.primary_parent.full_name, staff_account_path(a) if a.primary_parent.present?
          %td= a.user.email if a.user.present?
          %td= a.children.map(&:active_enrollment_blurbs).flatten.join("<br>").html_safe
          %td= a.created_at.stamp("2017/11/21 12:56:27pm")

  %hr

  .text-center
    = paginate @accounts
