.row
  .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
    = form_for([:staff, @program]) do |f|
      = render "application/form_errors", object: @program

      = f.hidden_field :center_id, value: @center.id

      .form-group.label-floating
        = f.label :program_type, "Summer or Fall?", class: "control-label"
        = f.select :program_type, options_from_collection_for_select(ProgramType.all, 'to_s', 'text', f.object.program_type.to_s), class: "form-control"
      %br
      .form-group.label-floating
        = f.label :program_group_id, "Program Group", class: "control-label"
        = f.select :program_group_id, options_from_collection_for_select(ProgramGroup.all, 'id', 'title', f.object.program_group_id), include_blank: "None", class: "form-control"
      %br

      .form-group.label-floating
        = f.label :name, "Program Name", class: "control-label"
        = f.text_field :name, class: "form-control"

      .form-group.label-floating
        = f.label :priority, "Program Priority (determines order on enrollment page)", class: "control-label"
        = f.text_field :priority, class: "form-control"

      .form-group.label-floating
        = f.label :starts_at, "Start Date", class: "control-label"
        = f.text_field :starts_at, class: "form-control flatpickr-date"

      .form-group.label-floating
        = f.label :ends_at, "End Date", class: "control-label"
        = f.text_field :ends_at, class: "form-control flatpickr-date"

      .form-group.label-floating
        = f.label :registration_opens, "Registration Opens", class: "control-label"
        = f.text_field :registration_opens, class: "form-control flatpickr-date"

      .form-group.label-floating
        = f.label :registration_closes, "Registration Closes", class: "control-label"
        = f.text_field :registration_closes, class: "form-control flatpickr-date"

      .form-group.label-floating
        = f.label :registration_fee, "Registration Fee", class: "control-label"
        = f.text_field :registration_fee, class: "form-control"

      .form-group.label-floating
        = f.label :change_fee, "Change Fee", class: "control-label"
        = f.text_field :change_fee, class: "form-control"

      %br

      .form-group.label-floating
        = f.label :earliest_payment_offset, "Earliest day automatic payments can be charged", class: "control-label"
        = f.select :earliest_payment_offset, options_from_collection_for_select(@payment_offsets, 'to_i', 'to_s', f.object.earliest_payment_offset.to_i), class: "form-control"

      %br

      .form-group.label-floating
        = f.label :latest_payment_offset, "Latest day automatic payments can be charged", class: "control-label"
        = f.select :latest_payment_offset, options_from_collection_for_select(@payment_offsets, 'to_i', 'to_s', f.object.latest_payment_offset.to_i), class: "form-control"

      %br

      %h4 Holidays

      = f.fields_for :holidays do |holiday_fields|
        = render "holiday_fields", f: holiday_fields

      .links
        .pull-right= link_to_add_association 'Add Holiday', f, :holidays, {style: "padding-right: 20px;"}

      %br

      .form-group.label-floating
        = f.label :locations, "Locations", class: "control-label", style: "padding-bottom: 20px;"
        = f.collection_check_boxes :location_ids, Location.all, :id, :name, class: "form-control" do |cb|
          = "#{cb.check_box} #{cb.text}"
          %br

      %br

      .form-group.label-floating
        = f.label :plans, "Plans - Click the link to edit the plan or remove it from this program", class: "control-label", style: "padding-bottom: 20px;"
        %ul
          - @program.plans.each do |plan|
            %li= link_to plan.full_display_name, edit_staff_plan_path(plan)

      = link_to "Cancel", staff_programs_path, class: "btn"
      = f.submit class: "btn btn-info pull-right"
