.nested-fields
  .row
    .col-sm-6
      .field
        = f.label :starts_at, "Date"
        - target_days = TargetDay.by_program_and_plan_type(@program, @plan_type)
        - if f.object.starts_at.blank? || target_days.pluck(:target_date).include?(f.object.starts_at)
          = f.select :starts_at, target_days.select_options.uniq, {selected: (f.object.starts_at || Time.zone.today).stamp("2018/03/08"), include_blank: "Choose a Date"}, {class: "drop_in-date-select"}
        - else
          %div{style: "padding-left: 10px; padding-right: 0px;"}= f.object.starts_at.stamp("Tuesday, January 8th, 2018")
          = f.hidden_field :starts_at, value: f.object.starts_at, class: "drop_in-date-select"
        = f.hidden_field :ends_at, value: f.object.ends_at, class: "drop_in-ends"

        = f.hidden_field :monday, value: false, class: "drop_in-days drop_in-1"
        = f.hidden_field :tuesday, value: false, class: "drop_in-days drop_in-2"
        = f.hidden_field :wednesday, value: false, class: "drop_in-days drop_in-3"
        = f.hidden_field :thursday, value: false, class: "drop_in-days drop_in-4"
        = f.hidden_field :friday, value: false, class: "drop_in-days drop_in-5"

    .col-sm-6
      .field
        - if @program.plans.by_plan_type(@plan_type).choosable.any?
          = f.label :plan_id, "for the"
          = f.select :plan_id, @program.plans.by_plan_type(@plan_type).choosable.select_options
          %br
          %br
        - else
          = f.hidden_field :plan_id, value: f.object.plan_id || @program.plans.by_plan_type(@plan_type).first.id
        = f.label :location, "at"
        = render "dynamic_location_select", f: f
        %br
        = link_to_remove_association "Remove Drop In Day", f
  %hr
  .cleaner
