- existing_location = (f.object.respond_to?(:location) && f.object.location.present?) ? f.object.location : @program.available_locations.first
- existing_location_id = existing_location.present? ? existing_location.id : nil
- if @program.available_locations.count == 1
  = existing_location.present? ? existing_location.name : "Unknown Location. Please Remove this enrollment."
  = f.hidden_field :location_id, value: existing_location_id
- elsif @program.available_locations.any?
  = f.select :location_id, options_from_collection_for_select(@program.available_locations, 'id', 'name', existing_location_id)
- else
  - if existing_location.present?
    = existing_location.name
  - else
    Unknown Location. Please remove this enrollment

  = f.hidden_field :location_id, value: existing_location_id
