= form_for(@account, url: account_dashboard_enrollments_path, method: defined?(target_method) ? target_method : "POST") do |f|
  = hidden_field_tag :plan_type, @plan_type.to_s

  = render "payment_offset_field", f: f

  %br

  = render "application/form_errors", object: @account

  = f.fields_for :children do |children_fields|
    - existing_enrollment = children_fields.object.enrollments.by_program(@program).by_plan_type(@plan_type).first
    - existing_enrollment_start = existing_enrollment.present? ? existing_enrollment.starts_at : nil
    - existing_enrollment_end = existing_enrollment.present? ? existing_enrollment.ends_at : nil
    .plan-box
      .row
        .col-sm-12
          .dropin-name{style: "padding-left: 20px;"}
            = children_fields.object.full_name

      - if @program.grade_allowed?(children_fields.object.grade_entering)
        - if existing_enrollment.present? || @program.available_locations.any?
          .row
            .col-xs-7
              - @plan_type.find_available_days(@program).each do |day_name, value|
                .col-xs-12
                  - if value
                    .col-xs-12
                      .checkbox
                        %label
                          = day_name

                    - if day_name == :monday
                      .col-xs-1
                      = children_fields.select :monday_id, @program.plans.by_plan_type(@plan_type).for_day(:monday).select_options, include_blank: "None",
                      selected: @children_day_ids[children_fields.object.id][:monday_id]

                    - if day_name == :tuesday
                      .col-xs-1
                      = children_fields.select :tuesday_id, @program.plans.by_plan_type(@plan_type).for_day(:tuesday).select_options, include_blank: "None",
                      selected: @children_day_ids[children_fields.object.id][:tuesday_id]

                    - if day_name == :wednesday
                      .col-xs-1
                      = children_fields.select :wednesday_id, @program.plans.by_plan_type(@plan_type).for_day(:wednesday).select_options, include_blank: "None",
                      selected: @children_day_ids[children_fields.object.id][:wednesday_id]

                    - if day_name == :thursday
                      .col-xs-1
                      = children_fields.select :thursday_id, @program.plans.by_plan_type(@plan_type).for_day(:thursday).select_options, include_blank: "None",
                      selected: @children_day_ids[children_fields.object.id][:thursday_id]

                    - if day_name == :friday
                      .col-xs-1
                      = children_fields.select :friday_id, @program.plans.by_plan_type(@plan_type).for_day(:friday).select_options, include_blank: "None",
                      selected: @children_day_ids[children_fields.object.id][:friday_id]
                    %br
                    %br

            .h3{style: "padding-left: 0px !important; padding-top: 7px;"}
              = f.label :location, "At"
              = children_fields.select :location_id, @program.available_locations.select_options, selected: existing_enrollment.present? ? existing_enrollment.location_id : @program.available_locations.first.id

            .col-xs-3{style: "padding-left: 0px !important; padding-top: 20px; margin-left: 20px;"}
              .col-xs-3{style: "padding-left: 0px !important"}
                = f.label :starts_at, "Starting On"
              .col-xs-9{style: "padding-left: 0px !important"}
                = children_fields.text_field :starts_at, value: (existing_enrollment_start || [(@program.starts_at).to_date, (Time.zone.today).to_date].max), class: "drop_in-date-select flatpickr-date"

            - if current_user.super_admin?
              .col-xs-3{style: "padding-left: 0px !important; padding-top: 7px; margin-left: 20px;"}
                .col-xs-3{style: "padding-left: 0px !important"}
                  = f.label :ends_at, "Stopping On"
                .col-xs-9{style: "padding-left: 0px !important"}
                  = children_fields.text_field :ends_at, value: (existing_enrollment_end || @program.ends_at.to_date), class: "drop_in-date-select flatpickr-date"
            - else
              = children_fields.hidden_field :ends_at, value: (existing_enrollment_end || @program.ends_at.to_date)
        - else
          %h4{style: "padding-left: 20px;"}= display_unavailable_locations_message
      - else
        %h4{style: "padding-left: 20px;"}= display_disallowed_grade_message


  = link_to "Cancel", @account.signup_complete? ? (defined?(target_method) ? edit_account_dashboard_enrollments_path(@account) : new_account_dashboard_enrollment_path(@account)) : account_step_path(@account, :plan), class: "btn"
  = f.submit "Submit", class: "btn btn-info pull-right"
