.col-md-10.col-md-offset-1.col-xs-12
  %h2.text-center
    Weekly Plans for #{@program.name}

  %h4.text-center
    Select which week(s) your child(ren) will be with us

  = form_for(@account, url: account_dashboard_enrollments_path, method: defined?(target_method) ? target_method : "POST") do |f|
    = hidden_field_tag :plan_type, @plan_type.to_s
    = render "application/form_errors", object: @account

    = f.fields_for :children, @account.children do |children_fields|
      .plan-box
        .row
          .col-sm-12
            .dropin-name{style: "padding-left: 20px;"}
              = children_fields.object.full_name

        .row
          - unless defined?(target_method)
            - children_fields.object.enrollments.alive.by_program_and_plan_type(@program, @plan_type).paid.each do |enrollment|
              .row{style: "padding-left: 40px; padding-bottom: 20px; padding-right: 20px;"}
                %span= enrollment.to_short

          = children_fields.fields_for :enrollments do |enrollment_fields|
            - if enrollment_fields.object.alive? && enrollment_fields.object.program == @program && enrollment_fields.object.plan_type.to_s == @plan_type.to_s && (defined?(target_method) || enrollment_fields.object.unpaid?)
              = render "enrollment_fields", f: enrollment_fields

          .links
            .pull-right= link_to_add_association 'Add Week', children_fields, :enrollments, {style: "padding-right: 20px;"}

    = link_to "Cancel", @account.signup_complete? ? (defined?(target_method) ? edit_account_dashboard_enrollments_path(@account) : new_account_dashboard_enrollment_path(@account)) : account_step_path(@account, :plan), class: "btn"
    = f.submit "Submit", class: "btn btn-info pull-right"
