- unless @account.signup_complete?
  = render partial: "account/steps/step_navigation"

- if @plan_type.present?
  = render "#{@plan_type.to_s}", target_method: "PATCH"
- else
  .col-xs-12
    %h3.text-center
      How will your children be attending?

  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    #attendance-selection-chooser
      - type_width = (12 / @program.plan_types.count).to_i
      - @program.plan_types.each do |plan_type|
        .text-center{class: "col-xs-#{type_width}"}
          = link_to plan_type.text, edit_account_dashboard_enrollments_path(@account, plan_type: plan_type.to_s), class: "btn btn-lg btn-block btn-info"
