staff attendance display

#location-switcher
= form_tag staff_attendance_display_index_path, method: :get do
  = select_tag :id, options_from_collection_for_select(@center.locations, 'id', 'name', params[:location]),
    { prompt: "Edit Location", onchange: "callMe()" }

#time-entries
  %ul
    - @center.users.staff.all.each do |staff|
      .checkbox
        %label
          %input{"data-toggle" => "toggle", :type => "checkbox"}/
          %li= staff.full_name

        .switcher
          = hidden_field_tag 'coupon[show_barcode]', false
          = check_box_tag "coupon[show_barcode]", true, true, required: false, class: "new-field", id: "switch-barcode"
          %label{:for => "switch-barcode"}
        .switcher-title
          Add UPC / Barcode


.col-sm-3
  .title
    %h3 Toggle Buttons
  .togglebutton
    %label
      %input{:checked => "checked", :type => "checkbox"}/
      Toggle is on
  .togglebutton
    %label
      %input{:type => "checkbox"}/
      Toggle is off



