.col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
  %h3.text-center
    Staff Clock-in/Clock-out

  %h5.text-center
    Select Your Location

  #location-switcher
    = form_tag staff_attendance_display_index_path, method: :get do
      = select_tag "staff-location-switcher", options_from_collection_for_select(@center.locations, 'id', 'name', @location.try(:id))

  #time-entry-message

  #time-entries
    - @location.staff.all.each do |s|
      .checkin-name
        .col-xs-6= s.full_name

        .col-xs-6.text-right
          .togglebutton
            %label
              = check_box_tag :on_clock, true, s.on_clock?, :data => {:remote => true, :url => url_for( controller: "/time_entries", :action => 'create', params: {"time_entry[location_id]" => "1", "time_entry[time_recordable_id]" => s.id, "time_entry[time_recordable_type]" => "Staff"}), :method => :post}, :class => 'input-large'
        .cleaner


  = link_to "Dispute Time In / Time Out", new_staff_time_dispute_path
