.col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
  %h3.text-center
    Staff Clock-in/Clock-out

  %h5.text-center
    Select Your Location

  #location-switcher.text-center
    = form_tag staff_attendance_display_index_path, method: :get do
      = select_tag "staff-location-switcher", options_from_collection_for_select(@center.locations, 'id', 'name', @location.try(:id))

  #time-entry-message

  #time-entries.staff-time-entries
    %table
      %thead
        %th Name
        %th PIN
        %th Clock In/Out

      %tbody
        - @location.staff.all.each do |s|
          %tr
            %td.checkin-name= s.full_name
            %td.text-left
              = text_field_tag :pin_number, "", id: "pin_number_#{s.id}"
              %div{id: "pin_error_#{s.id}", style: "display: none; color: red;"} PIN Number Incorrect
            %td.togglebutton.text-center
              %label
                = check_box_tag :on_clock, true, s.on_clock?, :data => {"location_id" => @location.id, "time_recordable_id" => s.id, "time_recordable_type" => "Staff"}, :class => 'input-large clock-toggle'

.cleaner
%br
%br
%br
.pull-right
  = link_to "Dispute Time", new_staff_time_dispute_path
