%p The following children didn't check in and were sent a tardy notification on #{Time.zone.today} at #{Time.zone.now.strftime("%l:%M:%S %P")}

%table
  %thead
    %th Child Name
    %th Parent Name
    %th Parent Email(s)
    %th Child Time Entries
  %tbody
    - @children_notified.each do |child|
      %tr
        %td= child.full_name
        %td= child.account.primary_parent.full_name
        %td= child.account.all_emails.to_sentence
        %td= link_to "Entries", staff_time_entries_url(recordable_type: "Child", recordable_id: child.id)
