Drop in for #{@center.current_program.name}

/= form_for(@account, url: account_drop_ins_path(@account)) do |f|
= form_for([@account, DropIn.new]) do |f|
  = render "application/form_errors", object: @account
  %table

    = f.fields_for :children, @account.children do |cf|

      %tr
        %td= cf.object.full_name
        %td= cf.object.drop_ins.count

        = cf.fields_for :drop_ins, cf.object.drop_ins do |dif|

          = dif.hidden_field :account_id, value: @account.id
          %td
            = dif.text_field :date, id: "flatpickr-input"
            %br
            = dif.label :date

  = link_to "Cancel", account_step_path(@account, :plan), class: "btn"
  = f.submit "Submit", class: "btn"
