= render partial: "account/steps/step_navigation"

Drop-in for #{@center.current_program.name}

= form_for(@account, url: "/accounts/#{@account.id}/drop_ins", method: :put) do |f|
  = render "application/form_errors", object: @account
  %table

    %h5 Location
    = f.select :location_id, @account.center.locations.map {|a| [ a.name, a.id ] }

    = f.fields_for :children, @account.children do |cf|

      %tr
        %td= cf.object.full_name

        = cf.fields_for :drop_ins, cf.object.drop_ins do |dif|

          = dif.hidden_field :account_id, value: @account.id
          %td
            = dif.text_field :date, id: "flatpickr-input"
            %br
            = dif.label :date

  = link_to "Cancel", account_step_path(@account, :plan), class: "btn"
  = f.submit "Submit", class: "btn"
