%h3.text-center
  Plans

.row
  .text-center
    = form_tag staff_plans_path, method: :get do
      %h5 Program
      = select_tag "program_id", options_from_collection_for_select(Program.all, "id", "name", @program_id), include_blank: "All Programs"
      = submit_tag "Submit"

.text-center
  = link_to "+ Add Plan", new_staff_plan_path(program_id: @program_id), class: "btn btn-primary btn-sm"
%br

= render "list_plans", plans: @plans

- if @disabled_plans.any?
  %h2 Disabled Plans

  = render "list_plans", plans: @disabled_plans, disable_action: "enable"
