%h3.text-center
  Time Entries for #{(@recordable_type == "Child") ? link_to(@recordable.full_name, staff_account_path(@recordable.account)) : @recordable.full_name}

= form_tag staff_time_entries_path, method: :get do
  = hidden_field_tag :recordable_type, @recordable_type
  = hidden_field_tag :recordable_id, @recordable.id

  .row
    .col-xs-6.text-center
      %h5 Start Date
      = text_field_tag :starts_at, @starts_at, class: "flatpickr-date"

    .col-xs-6.text-center
      %h5 End Date
      = text_field_tag :stops_at, @stops_at, class: "flatpickr-date"

  .row
    .col-xs-6.text-center
      = submit_tag "Submit"
    - if @recordable_type == "Staff"
      .col-xs-6.text-center
        = "Total Hours: #{@time_entries.display_hours}"

.row
  .col-xs-6.text-right
    - if policy(TimeEntry).manage?
      = link_to "+ Add Time Entry", new_staff_time_entry_path(recordable_type: @recordable_type, recordable_id: @recordable.id), class: "btn btn-primary btn-sm"

  .col-sx-6.text-right{style: "padding-right: 40px;"}
    = link_to "Export to CSV", export_to_csv_staff_time_entries_path(recordable_type: @recordable_type, recordable_id: @recordable.id, format: "csv"), class: "btn btn-primary btn-sm"

%br

- if @recordable_type == "Child"
  .row
    - parent = @recordable.account.primary_parent
    - if parent.present?
      .col-xs-6.text-right Primary Parent: #{parent.full_name}
      .col-xs-6.pull-left Phone: #{parent.phone}
    - else
      .text-center Primary Parent: None

  .row
    - contact = @recordable.account.emergency_contacts.first
    - if contact.present?
      .col-xs-6.text-right Emergency Contact: #{contact.full_name}
      .col-xs-6.pull-left Phone: #{contact.phone}
    - else
      .text-center Emergency Contact: None

    %br
    %br

- if @time_entries.any?
  %table.admin-table
    %thead
      - if policy(TimeEntry).manage?
        %th
      %th Location
      %th Time
      %th Action
      - if policy(TimeEntry).manage?
        %th

    %tbody
      - @time_entries.each do |time_entry|
        %tr
          - if policy(TimeEntry).manage?
            %td
              = link_to staff_time_entry_path(time_entry, recordable_type: @recordable_type, recordable_id: @recordable.id), method: :delete, :data => { :confirm => 'Are you sure?' } do
                %i.material-icons delete_forever
          %td= time_entry.location.name
          %td= time_entry.time.present? ? time_entry.time.stamp("March 4th, 2018 2:58 pm") : "Unknown (Created at #{time_entry.created_at.stamp("March 4th, 2018 2:58 pm")})"
          %td= time_entry.record_type.try(:text)
          - if policy(TimeEntry).manage?
            %td
              = link_to edit_staff_time_entry_path(time_entry, recordable_type: @recordable_type, recordable_id: @recordable.id) do
                %i.material-icons edit

  %hr

  .text-center
    = paginate @time_entries
