%h3.text-center
  Teacher / Child Ratio Report

= form_tag ratio_report_staff_time_entries_path, method: :get do
  .row
    .col-xs-6.text-center
      %h5 Location
      = select_tag "location_id", options_from_collection_for_select(Location.all, "id", "name", @location_id), include_blank: false

    .col-xs-6.text-center
      %h5 Date
      = text_field_tag :date, @target_date, class: "flatpickr-date"

  .row
    .pull-right{style: "padding-right: 40px;"}
      = link_to "Export to CSV", ratio_csv_staff_time_entries_path(date: @target_date, location_id: @location_id, format: "csv"), class: "btn btn-primary btn-sm"

  .row
    .text-center{ style: "padding-bottom: 40px;" }
      = submit_tag "Submit"

    .pull-left
      %h5 Total of #{@time_entries.count_children_checked_in} Children Attending
      %h5 Total of #{@time_entries.count_staff_checked_in} Staff Working

  %br
  %br

- if @time_entries.any?
  %table
    %thead
      %th.admin-title Time
      %th.admin-title Teachers
      %th.admin-title Children

    %tbody
      - previous_time = nil
      - @report_hash.each do |time, data|
        %tr
          %td= time
          %td= data["staff_count"]
          %td= data["children_count"]

  %h2 Time Entries

  %h3 Staff

  - @time_entries.staffs.each do |staff|
    %hr

    %h5.text-center= link_to staff.full_name, staff_time_entries_path(recordable_type: "Staff", recordable_id: staff.id)

    %table.admin-table
      %thead
        - if @manage_entries
          %th
        %th.admin-title Location
        %th.admin-title Time
        %th.admin-title Action
        - if @manage_entries
          %th

      %tbody
        - staff.time_entries.for_date(@target_date).for_location(@location).order("time ASC").each do |time_entry|
          %tr
            - if @manage_entries
              %td
                = link_to staff_time_entry_path(time_entry, recordable_type: time_entry.time_recordable_type, recordable_id: time_entry.time_recordable.id, back_path: request.fullpath), method: :delete, :data => { :confirm => 'Are you sure?' } do
                  %i.material-icons delete_forever
            %td= time_entry.location.name
            %td= time_entry.time.stamp("March 4th, 2018 2:58 pm")
            %td= time_entry.record_type.try(:text)
            - if @manage_entries
              %td
                = link_to edit_staff_time_entry_path(time_entry, recordable_type: time_entry.time_recordable_type, recordable_id: time_entry.time_recordable.id, back_path: request.fullpath) do
                  %i.material-icons edit

  %h3 Children

  - @time_entries.children.each do |child|
    %hr

    %h5.text-center= link_to child.full_name, staff_time_entries_path(recordable_type: "Child", recordable_id: child.id)

    %table.admin-table
      %thead
        - if @manage_entries
          %th
        %th.admin-title Location
        %th.admin-title Time
        %th.admin-title Action
        - if @manage_entries
          %th

      %tbody
        - child.time_entries.for_date(@target_date).for_location(@location).order("time ASC").each do |time_entry|
          %tr
            - if @manage_entries
              %td
                = link_to staff_time_entry_path(time_entry, recordable_type: time_entry.time_recordable_type, recordable_id: time_entry.time_recordable.id, back_path: request.fullpath), method: :delete, :data => { :confirm => 'Are you sure?' } do
                  %i.material-icons delete_forever
            %td= time_entry.location.name
            %td= time_entry.time.stamp("March 4th, 2018 2:58 pm")
            %td= time_entry.record_type.try(:text)
            - if @manage_entries
              %td
                = link_to edit_staff_time_entry_path(time_entry, recordable_type: time_entry.time_recordable_type, recordable_id: time_entry.time_recordable.id, back_path: request.fullpath) do
                  %i.material-icons edit
