.layout-row.centered
  %ul.nav.nav-pills.nav-pills-rose
    %li{ class: ((controller_name == "dashboards" && action_name == "show") || controller_name == "children")  ? "active" : "" }
      = link_to "Overview", account_dashboard_path(@account)
    %li{ class: (controller_name == "enrollments" && action_name == "new" && (@plan_type.to_s.blank? || @plan_type.to_s == "weekly")) ? "active" : "" }
      = link_to "Add Summer Camp Weeks", new_account_dashboard_enrollment_path(@account, plan_type: "weekly")
    %li{ class: (controller_name == "enrollments" && action_name == "new" && (@plan_type.to_s.blank? || @plan_type.to_s == "drop_in")) ? "active" : "" }
      = link_to "Add Summer Camp Drop-In Days", new_account_dashboard_enrollment_path(@account, plan_type: "drop_in")
    %li{ class: (controller_name == "enrollments" && action_name == "edit")  ? "active" : "" }
      = link_to "Reduce Attendance", edit_account_dashboard_enrollments_path(@account)
    %li{ class: (controller_name == "credit_cards") ? "active" : "" }
      = link_to "Manage Credit Card", account_dashboard_credit_card_path(@account)
    %li{ class: (controller_name == "payments") ? "active" : "" }
      = link_to "Payment History/Receipts", account_dashboard_payments_path(@account)

.cleaner
%br
