.nested-fields
  .field
    .col-xs-6
      = f.hidden_field :account_id, value: @account.id
      = f.hidden_field :program_id, value: @center.current_program.id
  
      = f.label :date
      = f.text_field :date, id: "flatpickr-input"
    .col-xs-6
      .radio
        %label
          = f.radio_button :time_slot, "full_day", checked: f.object.time_slot == "full_day"
          = f.label :time_slot, "8am - 6pm"
      .radio
        %label
          = f.radio_button :time_slot, "morning", checked: f.object.time_slot == "morning"
          = f.label :time_slot, "8am - 1pm"
      .radio
        %label
          = f.radio_button :time_slot, "afternoon", checked: f.object.time_slot == "afternoon"
          = f.label :time_slot, "1pm - 6pm"
    .cleaner