%h3.text-center Drop-in for #{@center.current_program.name}
%br

.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
  = form_for(@account, url: "/accounts/#{@account.id}/dashboard/drop_ins", method: :post) do |f|
    = render "application/form_errors", object: @account

    %h5 Location
    = f.select :location_id, @account.center.locations.map {|a| [ a.name, a.id ] }

    = f.fields_for :children, @account.children do |cf|

      .account-box
        .dropin-name
          = cf.object.full_name

        = cf.fields_for :drop_ins, cf.object.drop_ins.build do |drop_in|
          = render "drop_in_fields", f: drop_in


    %br.cleaner
    = link_to "Cancel", account_dashboard_path(@account), class: "btn"
    = f.submit "Submit", class: "btn btn-info pull-right"
