= render partial: "account/steps/step_navigation"

= form_for [@account, @account_child] do |form|
  = render "application/form_errors", object: @account_child

  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    .row
      .col-md-12
        %h3 Children
      .col-md-6
        .form-group.label-floating
          = form.label :first_name, "First Name", class: "control-label"
          = form.text_field :first_name, class: "form-control"
    
      .col-md-6
        .form-group.label-floating
          = form.label :last_name, "Last Name", class: "control-label"
          = form.text_field :last_name, class: "form-control"
    
      .col-md-6
        .form-group.label-floating
          = form.label :gender
          M
          = form.radio_button :gender, "Male", checked: @account_child.gender == "Male" || @account_child.gender.nil?
          F
          = form.radio_button :gender, "Female"
      
      .col-md-6
        .form-group.label-floating
          = form.label :grade_entering
          = form.select :grade_entering, (1..10).to_a, include_blank: false
      
      .col-md-6
        .form-group.label-floating
          = form.label :birthdate, "Birth Date", class: "control-label"
          = form.text_field :birthdate, id: "flatpickr-dob-input", class: "form-control"
      
      
      .col-md-6
        .form-group.label-floating
          = form.fields_for :care_items, @account_child.care_items do |c|
            %br
            = c.object.name
            = c.hidden_field :name, value: c.object.name
            = c.radio_button :active, false, checked: !c.object.active
            No
            = c.radio_button :active, true
            Yes
            = c.text_field :explanation, placeholder: "Please explain"
      
      .col-md-6
        .form-group.label-floating
          = form.label :additional_info do
            ADDITIONAL INFO (Favorite hobbies, sports, books, etc)
          = form.text_area :additional_info, placeholder: "(optional)"
      
        .navigation
          = link_to "Cancel", account_children_path(@account), class: "btn" if @account.children.any?
          = form.submit @account_child.persisted? ? "Update Child" : "Register Child", class: "btn"
