= render partial: "account/steps/step_navigation"

= form_for [@account, @account_child] do |form|
  = render "application/form_errors", object: @account_child

  .field
    = form.label :first_name
    = form.text_field :first_name

  .field
    = form.label :last_name
    = form.text_field :last_name

  .field
    = form.label :gender
    M
    = form.radio_button :gender, "male", checked: @account_child.gender == "male" || @account_child.gender.nil?
    F
    = form.radio_button :gender, "female"

  .field
    = form.label :grade_entering
    = form.select :grade_entering, (1..10).to_a, include_blank: false

  .field
    = form.label :birthdate
    = form.text_field :birthdate, id: "flatpickr-input"


  .row
    = form.fields_for :care_items, @account_child.care_items do |c|
      %br
      = c.object.name
      = c.hidden_field :name, value: c.object.name
      = c.radio_button :active, false, checked: !c.object.active
      No
      = c.radio_button :active, true
      Yes
      = c.text_field :explanation, placeholder: "Please explain"

  .row
    .field
      = form.label :additional_info do
        ADDITIONAL INFO (Favorite hobbies, sports, books, etc)
      = form.text_area :additional_info, placeholder: "(optional)"

  .navigation
    = link_to "Cancel", account_children_path(@account), class: "btn" if @account.children.any?
    = form.submit @account_child.persisted? ? "Update Child" : "Register Child", class: "btn"
