= render partial: "account/steps/step_navigation"
= form_for [@account, @account_child] do |form|
  = render "application/form_errors", object: @account_child

  .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    .row
      .col-md-12
        %h3 Add a Child
      .col-md-10
        .form-group.label-floating
          = form.label :first_name, "First Name", class: "control-label"
          = form.text_field :first_name, class: "form-control"

        .form-group.label-floating
          = form.label :last_name, "Last Name", class: "control-label"
          = form.text_field :last_name, class: "form-control"

        .form-group.label-floating
          = form.label :gender
          .radio
            - Gender.all.each do |gender|
              %label
                = form.radio_button :gender, gender.to_s, checked: (@account_child.gender.respond_to?("#{gender}?".to_sym) && @account_child.gender.send("#{gender}?".to_sym)) || gender.male?
                = gender.text
        
        .select.form-group.label-floating
          = form.label :grade_entering
          %br
          = form.select :grade_entering, Child.available_grades, include_blank: false, class: "selectpicker"

        .form-group.label-floating
          = form.label :birthdate, "Birth Date", class: "control-label"
          %br
          = form.text_field :birthdate, class: "form-control flatpickr-date"
          Remember to click on the day to set the birthdate

        %h5 In an effort to connect with your child, to meet his/her needs, and to help him/her be socially, academically and behaviorally successful in our after school program, please complete this form as accurately and honestly as possible. Note:  This information is kept confidential by DKK staff.
      
        = form.fields_for :care_items, @account_child.care_items do |c|
          .form-group.label-floating
            .row
              .col-xs-6
                = c.object.name
                = c.hidden_field :name, value: c.object.name

              .col-xs-3.text-center
                .radio
                  %label
                    No
                    = c.radio_button :active, false, checked: !c.object.active
              .col-xs-3.text-center
                .radio
                  %label
                    Yes
                    = c.radio_button :active, true
              .col-xs-12
                = c.text_field :explanation, placeholder: "Please explain", class: "form-control"


      .col-xs-12
        .form-group.label-floating
          = form.label :additional_info do
            ADDITIONAL INFO (optional)
          = form.text_area :additional_info, placeholder: "(Favorite hobbies, sports, books, etc)"

        .navigation
          = link_to "Cancel", account_children_path(@account), class: "btn" if @account.children.any?
          = form.submit @account_child.persisted? ? "Update Child" : "Register Child", class: "btn btn-info pull-right"
