<p id="notice"><%= notice %></p>

<h1>Children Registrations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children_registrations.each do |children_registration| %>
      <tr>
        <td><%= link_to 'Show', children_registration %></td>
        <td><%= link_to 'Edit', edit_children_registration_path(children_registration) %></td>
        <td><%= link_to 'Destroy', children_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Children Registration', new_children_registration_path %>
