= render partial: "account/steps/step_navigation"

%p#notice= notice
.row
  - @account.children.each do |c|
    .col-md-4
      .card
        .card-content
          %h4.card-title
            = c.full_name
          .footer
            .author
              Born: 
              = c.birthdate
            .stats
              %i.material-icons edit
              = link_to 'Edit', edit_account_child_path(@account, c)
              %i.material-icons delete
              = link_to 'Remove', account_child_path(@account, c), method: :delete, data: { confirm: 'Are you sure?' }


  .col-md-4
    .card
      .card-content
        .footer.text-center
          = link_to "Add Another Child", new_account_child_path(@account), class: "btn btn-danger"
  %br.cleaner
.row
  = link_to 'Next Step', account_step_path(@account, :medical), class: "btn btn-info pull-right"
