.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
  %h2 Payment

  = render "common/enrollments_pricing_info", calculator: @calculator

  %h5
    Your total (please contact us if different from your expectation):
    %strong
      #{@calculator.total}

  %br.cleaner
  = form_tag account_checkout_path(@account), id: "payment-form" do |form|
    - if @calculator.requires_payment_information?
      .form-group.label-floating
        %label{:for => "card-element", class: "control-label"}
          Credit or Debit Card
        #card-element.form-control
          / a Stripe Element will be inserted here.
        / Used to display Element errors
        #card-errors{:role => "alert"}
      .credit-cards
        = image_tag ("credit-cards.png")
      - button_text = current_user.legacy? ? "Store Card For AutoPay" : "Pay & Finish Registration"
      = submit_tag button_text, class: "btn btn-info pull-right", data: { disable_with: "Processing ..." }
    - else
      = submit_tag "Finish Registration", class: "btn btn-info pull-right", data: { disable_with: "Processing ..." }
