= render partial: "step_navigation"

.row
  %h2.text-center Summary

  = render "common/account_announcements", account: @account

  .col-md-4.col-sm-6
    .account-box
      #parents
        %h3 Parents #{link_to "Edit", account_step_path(@account, :parents), class: "btn btn-xs btn-round"}

        #primary-parent
          %h5 Primary Parent
        .row.account-row
          .col-xs-4.account-label
            Name:
          .col-xs-8.account-name
            = @account.primary_parent.full_name
        .row.account-row
          .col-xs-4.account-label
            Email:
          .col-xs-8.account-name
            = @account.primary_parent.user.email
        .row.account-row
          .col-xs-4.account-label
            Phone:
          .col-xs-8.account-name
            = @account.primary_parent.phone
        .row.account-row
          .col-xs-4.account-label
            Address:
          .col-xs-8.account-name
            = @account.primary_parent.address.full_address

        #guardian
          %h5 Secondary Contact
        - if @account.secondary_parent.present?
          .row.account-row
            .col-xs-4.account-label
              Name:
            .col-xs-8.account-name
              = @account.secondary_parent.full_name
          .row.account-row
            .col-xs-4.account-label
              Phone:
            .col-xs-8.account-name
              = @account.secondary_parent.phone
          .row.account-row
            .col-xs-4.account-label
              Address:
            .col-xs-8.account-name
              = @account.secondary_parent.address.full_address


        #emergency-contacts
          %h5 Emergency Contacts
        - if @account.emergency_contacts.any?
          - contact = @account.emergency_contacts.first
          .row.account-row
            .col-xs-4.account-label
              Name:
            .col-xs-8.account-name
              = contact.full_name
          .row.account-row
            .col-xs-4.account-label
              Phone:
            .col-xs-8.account-name
              = contact.phone
    .account-box
      #medical
        %h3 Medical #{link_to "Edit", account_step_path(@account, :medical), class: "btn btn-xs btn-round"}
        .row.account-row
          .col-xs-6.account-label
            Family Physician:
          .col-xs-6.account-name
            = @account.family_physician
        .row.account-row
          .col-xs-6.account-label
            Family Physician Phone:
          .col-xs-6.account-name
            = @account.physician_phone
        .row.account-row
          .col-xs-6.account-label
            Family Dentist:
          .col-xs-6.account-name
            = @account.family_dentist
        .row.account-row
          .col-xs-6.account-label
            Family Dentist Phone:
          .col-xs-6.account-name
            = @account.dentist_phone
        .row.account-row
          .col-xs-6.account-label
            Insurance Company:
          .col-xs-6.account-name
            = @account.insurance_company
        .row.account-row
          .col-xs-6.account-label
            Insurance Policy Number:
          .col-xs-6.account-name
            = @account.insurance_policy_number

  .col-md-4.col-sm-6
    .account-box
      #children
        %h3 Children #{link_to "Edit", account_children_path(@account), class: "btn btn-xs btn-round"}
        - @account.children.each do |c|
          .row
            .account-child
              .col-xs-12
                = c.full_name
          .row.account-row
            .col-xs-4.account-label
              Gender:
            .col-xs-8.account-name
              = c.gender.respond_to?(:text) ? c.gender.text : (c.gender.respond_to?(:capitalize) ? c.gender.capitalize : c.gender.to_s)
          .row.account-row
            .col-xs-4.account-label
              Grade Entering:
            .col-xs-8.account-name
              = c.grade_entering
          .row.account-row
            .col-xs-4.account-label
              Date of Birth:
            .col-xs-8.account-name
              = c.birthdate.stamp("November 30th, 1984") if c.birthdate.present?
          #careitems
            %h5 Care Items
            - c.care_items.where(active: true).each do |ci|
              .row.account-row
                .col-xs-4.account-label
                  Name:
                .col-xs-8.account-name
                  = ci.name
              .row.account-row
                .col-xs-4.account-label
                  Explanation:
                .col-xs-8.account-name
                  = ci.explanation
          .row.account-row
            .col-xs-4.account-label
              Additional Information:
            .col-xs-8.account-name
              = c.additional_info

  .col-md-4.col-sm-6
    .account-box
      #plan
        %h3 Plan Information #{link_to "Edit", account_step_path(@account, :plan), class: "btn btn-xs btn-round"}

        - @account.enrollments.alive.unpaid.programs.each do |program|
          %h5= program.name

          - @account.children.each do |child|
            %strong= child.full_name
            - enrollments = child.enrollments.alive.unpaid.by_program(program)
            - if enrollments.any?
              %table
                - enrollments.each do |enrollment|
                  %tr.merge-top
                    %td= enrollment.to_short
                  - enrollment.payment_plan_hash.each do |month_name, data|
                    %tr.merge-top.short
                      %td.right-just{style: "color: #{data["overdue"] == true ? 'red' : 'inherit'}"}= data["message"]
            %hr

        - price_calculator = ChildEnrollment::EnrollmentPriceCalculator.new(@account)
        - price_calculator.calculate
        - if price_calculator.first_time_user_fee > 0
          (Includes a 1-time, non-refundable #{price_calculator.first_time_user_fee} sign-up fee.)

        %h5
          %strong
            Total today: #{price_calculator.total}

  .cleaner

  .row
    .account-alert
      %h3.text-center
        Review &amp; Sign
      %p.text-center
        If you agree to #{link_to "all waivers and agreements", asset_path("Davis-Kids-Klub_Waivers-Agreements.pdf"), target: "_blank"}, and everything looks correct in the summary, please type your full name and continue to payment.
      %p.text-center
        = link_to "Download all waivers and agreements", "images/Davis-Kids-Klub_Waivers-Agreements.pdf"), target: "_blank"
      .cleaner
      .col-md-6.col-md-offset-3
        #signature-form
          = form_for @account_summary_form, method: :put, url: wizard_path do |f|
            = render "application/form_errors", object: @account_summary_form
            = f.label :signature

            = f.text_field :signature, value: @account.signature, class: "text_field", placeholder: "Type your full name"
            %br
            - button_text = current_user.legacy? ? "Continue to Save Payment Method For AutoPay" : "Continue to Payment"
            = f.submit button_text, class: "btn btn-info pull-right"
      .cleaner
