%h3.text-center
  Payments
%br
- if @transactions.any?
  .row
    .col-xs-2.admin-title
      Primary Parent
    .col-xs-3.admin-title
      Email
    .col-xs-1.admin-title
      Location
    .col-xs-1.admin-title
      Program
    .col-xs-1.admin-title
      Amount
    .col-xs-1.admin-title
      Card
    .col-xs-1.admin-title
      Status
    .col-xs-1.admin-title
      Type
    .col-xs-1.admin-title
      Date
    %br.cleaner
    %hr
    - @transactions.each do |tx|
      - account = tx.account
      .col-xs-2.admin-parents
        =account.primary_parent.full_name if account.primary_parent.present?
      .col-xs-3.admin-parents
        =account.user.email if account.user.present?
      .col-xs-1.admin-parents
        =account.location.name if account.location.present?
      .col-xs-1.admin-parents
        #{tx.month}/#{tx.year}
      .col-xs-1.admin-parents
        =Money.new(tx.amount).to_s
      .col-xs-1.admin-parents
        #{account.card_brand} #{account.card_last4}
      .col-xs-1.admin-parents
        =tx.paid ? "Paid" : "Unpaid"
      .col-xs-1.admin-parents
        =tx.transaction_type
      .col-xs-1.admin-parents
        =tx.created_at.stamp("11/05/2017")
      %br.cleaner
      %hr
        

  .text-center
    = paginate @transactions
