%h3.text-center
  Payments

= form_tag staff_transactions_path, method: :get do
  .row
    .col-xs-6.text-center
      %h5 Program
      = select_tag "program_id", options_from_collection_for_select(@programs, "id", "name", @program.id)

    .col-xs-6.text-center
      %h5 Location
      = select_tag "location_id", options_from_collection_for_select(@locations, "id", "name", @location_id), include_blank: current_user.super_admin? ? "All Locations" : false

  .row
    .text-center{ style: "padding-bottom: 40px;" }
      = submit_tag "Submit"

- if @accounts.any?
  .row
    .col-xs-2.admin-title
      Primary Parent
    .col-xs-2.admin-title
      Email
    .col-xs-2.admin-title
      Phone
    .col-xs-1.admin-title
      Amount
    .col-xs-1.admin-title
      Status
    .col-xs-1.admin-title
      Type
    .col-xs-1.admin-title
      Date
    .col-xs-1.admin-title

    %br.cleaner
    %hr
    - @accounts.each do |account|
      - tx = FinanceItemPresenter.new(account)
      - next if tx.blank?
      .col-xs-2.admin-parents
        = link_to account.primary_parent.full_name, account_dashboard_payments_path(account) if account.primary_parent.present?
      .col-xs-2.admin-parents
        = account.user.email if account.user.present?
      .col-xs-2.admin-parents
        = account.primary_parent.phone if account.primary_parent.present?
      .col-xs-1.admin-parents
        = tx.amount
      .col-xs-1.admin-parents
        = tx.status
      .col-xs-1.admin-parents
        = tx.transaction_type
      .col-xs-1.admin-parents
        = tx.date
      .col-xs-1.admin-parents
        = tx.details_link

      %br.cleaner
      %hr


  .text-center
    = paginate @accounts
