%h3.text-center
  #{@center.current_program.name} Enrollments

= form_tag staff_enrollments_path, method: :get do
  .row
    .col-xs-4.text-center
      %h5 Program
      = select_tag "program_id", options_from_collection_for_select(Program.all, "id", "name", @program.id)

    .col-xs-4.text-center
      %h5 Location
      = select_tag "location_id", options_from_collection_for_select(@program.locations, "id", "name", @location_id), include_blank: "All Locations"

    .col-xs-4.text-center
      %h5 Date
      = text_field_tag :enrollments_date, @enrollments_date, class: "flatpickr-date"

  .row
    .text-center{ style: "padding-bottom: 40px;" }
      = submit_tag "Submit"

    .pull-right{style: "padding-right: 40px;"}
      = link_to "Export to CSV", export_to_csv_staff_enrollments_path(program_id: @program.id, location_id: @location_id, enrollments_date: @enrollments_date, format: "csv"), class: "btn btn-primary btn-sm"

  %br
  %br

- if @enrollments.any?
  %table{class: "tablesorter {sortlist: [[0,0]]}"}
    %thead
      %th.admin-title Child Name
      %th.admin-title Plan
      %th.admin-title.sorter-text Days
      %th.admin-title Location
      %th.admin-title.sorter-text Sign Up Date

    %tbody
      - @enrollments.each do |e|
        %tr
          %td= link_to e.child.full_name, staff_account_path(e.child.account)
          %td= e.type_display
          %td= e.service_dates
          %td= e.location.name
          %td= e.created_at.stamp("11/05/2017")

.text-center
  = paginate @enrollments
