.row
  = form_for([:staff, @staff]) do |f|
    = render "application/form_errors", object: @staff
    = f.fields_for :user, @staff.user do |u|
      .col-md-6
        .form-group.label-floating
          = u.label :first_name, "First Name", class: "control-label"
          = u.text_field :first_name
        .form-group.label-floating
          = u.label :last_name, "Last Name", class: "control-label"
          = u.text_field :last_name
        .form-group.label-floating
          = u.label :email, "Email", class: "control-label"
          = u.text_field :email
        .form-group.label-floating
          = f.label :location_ids, "Locations", class: "control-label"
          = f.collection_select :location_ids, Location.all, :id, :name
        .form-group.label-floating
          = u.label :password, "Password", class: "control-label"
          = u.password_field :password
        .form-group.label-floating
          = u.label :password, "Password Confirmation", class: "control-label"
          = u.password_field :password_confirmation

        = f.submit class: "btn btn-success"
