%h3.text-center
  Staff

.text-center
  = link_to "+ Add Staff Member", new_staff_staff_path, class: "btn btn-primary btn-sm"
%br


- if @staff.any?
  %table
    %thead
      %th.admin-title Name
      %th.admin-title Email
      %th.admin-title Role
      %th.admin-title Locations
      - if policy(TimeEntry).view?
        %th.admin-title Time Entries
      %th.admin-title Date Created
      %th.admin-title Actions

    %tbody
      - @staff.each do |s|
        %tr
          %td= s.user.full_name
          %td= s.user.email
          %td= s.user.roles.pluck(:name).map(&:humanize).join(", ")
          %td= s.locations.collect {|l| l.name }.to_sentence
          - if policy(TimeEntry).view?
            %td
              = link_to staff_time_entries_path(recordable_type: "Staff", recordable_id: s.id) do
                %i.material-icons alarm
          %td= s.created_at.stamp("11/05/2017")
          %td
            - if policy(s).manage?
              = link_to "Edit", edit_staff_staff_path(s), class: "btn btn-xs"
            - else
              .btn.btn-xs{style: "opacity: 0.0;"} Placeholder

.text-center
  = paginate @staff
