<%= form_with(model: time_dispute, local: true) do |form| %>
  <% if time_dispute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_dispute.errors.count, "error") %> prohibited this time_dispute from being saved:</h2>

      <ul>
      <% time_dispute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :time_dispute_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :time_dispute_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :time_dispute_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :time_dispute_phone %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :time_dispute_date %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :time_dispute_location_id %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :time_dispute_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
