!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kidsclub
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application-dkk', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload'
    = tag :meta, name: "stripe-public-key", content: Rails.application.secrets.stripe_public_key



  %body.index-page
    %nav#sectionsNav.navbar.navbar-default.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll{"color-on-scroll" => " "}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a{:href => "/"}

          =link_to Receptionist.new(current_user, @center).direct_by_role(current_user.roles.first) do
            =image_tag ("logo.png")

        - if user_signed_in?
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.material-icons account_circle
                  Your Account
                  %b.caret
                %ul.dropdown-menu.dropdown-with-icons
                  %li
                    = link_to destroy_user_session_path do
                      %i.material-icons eject
                      Log Out


    .page-header.header-filter.clear-filter

    .main.main-raised
      .section.section-basic
        .container
          = render "application/flash_messages"
          = yield
